body {
    background-color: rgb(65, 143, 143);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
}

h1 {
    color: blueviolet;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;


}

ul li {

    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    text-align: center;

}

ul li:hover {
    color: white;
    background-color: rgb(137, 211, 211);
    box-sizing: border-box;
}

.container ul li {

    display: inline;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.container ul {
    text-align: right;
}